* {
    margin: 0;
}

html {
    height: 100vh;
}

.board-container {
    display: grid;
    grid-template: 1fr / 0.5fr 4fr;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: grid;
    grid-template: 1fr/ 0.5fr 15fr repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 1vw 2vw;
}

header input {
    border-radius: 8px;
    justify-self: flex-start;
    min-width: 35vw;
    background-color: rgb(216, 226, 226);
}

header label {
   display: grid;
   align-items: center;
}

.iconx24, .iconx36 {
    border: 1px solid yellow;
    border-radius: 20px;
    padding: 0.2vw;
    background-color: yellow;
}

aside {
    background-color: rgb(82, 106, 211);
    color: rgb(255, 255, 255);
    padding: 1vw;
}

.page-symbol {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1vw;
}

.aside-bar {
    margin-top: 3vw;
    margin-left: 1vw;
    display: grid;
    grid-template: repeat(6, 1fr) / 1fr;
    gap: 2vw;
}

.aside-bar>* {
    cursor: pointer;
}

.aside-bar>*:hover {
    color: rgb(177, 176, 175);
}

.options>* {
    cursor: pointer;
}

.options>*:hover {
    color: rgb(177, 176, 175);
}

.aside-bar>div {
    display: flex;
    gap: 1vw;
    align-items: center;
}

.options {
    margin: 4vw 0 0 1vw;
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    gap: 2vw;
}

.options>div {
    display: flex;
    gap: 1vw;
    align-items: center;
}

nav {
    display: flex;
    gap: 1vw;
    padding: 1vw 2vw;
    align-items: center;
}

nav div:nth-child(2) {
    flex: 1;
}

nav button {
    background-color: rgb(82, 106, 211);
    color: white;
    border-radius: 16px;
    border: 0;
    font-size: 0.8rem;
    padding: 0.5vw 2vw;
    cursor: pointer;
}

nav>button:hover {
    background-color: rgb(64, 83, 167);
}

.container {
    background-color: rgb(190, 190, 190);
    display: grid;
    grid-template: 1fr / 3fr 1fr ;
    flex: 1;
}

.projects {
    padding: 1vw;
    display: flex;
    flex-direction: column;
}

.projects-container {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 1vw;
    margin: 1vw 0;
    flex: 1;
}

.projects-container>div {
    background-color: aliceblue;
    border-radius: 6px;
    padding: 2vw;
    border-left: 6px solid orange;
    display: grid;
    grid-template: 1fr 3fr 1fr / 1fr;
    transition: all 0.5s;
}

.projects-container>div:hover {
    background-color: rgb(216, 226, 226);
    transform: scale(1.01);
}

.projects-container>div>div {
    justify-self: flex-end;
    display: flex;
    gap: 1vw;
    align-items: center;
    cursor: pointer;
}

.side-bar {
    padding: 1vw 1vw 1vw 0;
}

.announcements-container {
    background-color: aliceblue;
    border-radius: 6px;
    padding: 1vw;
    margin: 1vw 0;
}

.announcements-container div:nth-child(-n+2) {
    border-bottom: 1px solid rgb(150, 150, 150);
}
.announcements-container div {
    padding: 1vw;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 6px;
}

.announcements-container>div:hover {
    background-color: rgb(216, 226, 226);
}

.trending-container {
    background-color: aliceblue;
    border-radius: 6px;
    padding: 1vw;
    display: grid;
    margin: 1vw 0;

}

.trending-container>div {
    display: flex;
    padding: 1vw;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 6px;
}

.trending-container>div:hover {
    background-color: rgb(216, 226, 226);
}

.trending-container>div>img {
    background-color: yellow;
    border-radius: 20px;
    padding: 0.3vw;
    flex: 0;
}

.trending-container>div:first-child img{
    background-color: aquamarine;
}

.trending-container>div:nth-child(3) img{
    background-color: rgb(123, 30, 151);
}

.trending-container>div:last-child img{
    background-color: rgb(120, 204, 109);
}
